.sectionWrapper{
    height: 600px;
    margin-top: 2em;
    background-color: #fff;
    overflow-x: hidden;
    position: relative;

    .sectionTitle{
        font-size: 25px;
        font-weight: 500;
        padding: .7em .7em 0;
    }

    .itemsWrapper{
        display: flex;
        align-items: center;
        padding: 2em 1em;
        transition: transform .3s cubic-bezier(0.65, 0.05, 0.36, 1);

        .kidsDayImg{
            height: 350px;
        }
    }
}