.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .loginContainer{
        display: flex;
        flex-direction: column;
        max-width: 600px;
        width: 100%;
    
        .formSection{
            width: 100%;
            display: flex;
            flex-direction: column;
            background-color: #fff;
            margin: 1em 0;
            padding: 0 1em 1em;
    
            input{
                padding: .5em;
                width: 100%;
                font-size: 15px;
                margin: .5em 0;
                border: 1px solid #3b3b3b;
            }

            .wrongInput{
                border-bottom: 3px solid #e0211b;
            }

            .inputContainer{
                position: relative;

                .errorText{
                    margin: -.2em 0 .3em;
                    color: #e0211b;
                    font-size: 13px;
                }
            }

            input:focus::placeholder{
                color: transparent;
            }

            input:focus + .floatingLabel{
                opacity: 1;
                top: -3px;
                z-index: 1;
            }

            .floatingLabel{
                opacity: 1;
                z-index: -5;
                position: absolute;
                top: 15px;
                left: 8px;
                transition: top .15s;
                color: #656565;
                background-color: #fff;
            }
    
            

            .passwordContainer{
                position: relative;

                .showPasswordLabel{
                    position: absolute;
                    top: 1.1em;
                    right: 1em;
                    
                    button{
                        background-color: transparent;
                        color: #008673;
                    }
                }
            }
    
            h2{
                margin: 1em 0;
                font-size: 22px;
                font-weight: 500;
            }
    
            .or{
                width: 100%;
                display: flex;
                align-items: center;
                color: #8a8a8a;
                margin: 1.5em 0;
                
    
                span{
                    padding: 0 .6em;
                }
    
                hr{
                    width: 100%;
                    height: 1px;
                    border-color: #dddddd5b;
                }
            }
        }
    }

    .continueWith{
        button{
            display: flex;
            align-items: center;
            width: 100%;
            background-color: #fff;
            border: 1px solid gray;
            letter-spacing: 2px;
            color: #222;
            padding: .7em 0;
            margin: .4em 0;
            transition: background-color .3s;
            color: #656565;

            img{
                width: 24px;
                margin: 0 1.2em;
            }

            span{
                flex-grow: 1;
            }
        }

        button:hover{
            background-color: #e7e7e7;
        }
    }
    
    .registerContainer{
        max-width: 600px;
        width: 100%;
        padding: 1em;
        margin-bottom: 1em;
        background-color: #fff;

        strong{
            font-weight: 500;
        }

        span{
            color: #008673;
        }
    }
}

