.navWrapper {
	width: 100%;
	background-color: #fff;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 1em;
	border-bottom: 1px solid #dadada;

	.logo {
		height: 28px;

		a {
			display: block;
			height: 100%;

			img {
				max-height: 100%;
			}

			
		}
	}

	.searchBarWrapper {
		order: 1;
		width: 100%;
		margin-top: 1em;

		.searchBar {
			form {
				display: flex;
			}

			.searchInput {
				flex-grow: 1;
				padding: 0.7em;
				border-radius: 0;
				border-width: 1px;
				border-style: solid;
			}

			.searchInput:focus,
			.selectCategories:focus {
				outline: none;
			}

			.selectCategories {
				display: none;
				padding: 0.3em;
				border-radius: 0;
				border-left: 0;
			}
		}
	}

	.iconsWrapper {
		display: flex;
		align-items: center;

		img {
			margin: 0 0.75em;
		}

		.totalItemsInCart{
			position: absolute;
			transform: translate(-145%, 95%);
			background-color: #ff5a00;
			height: 19px;
			min-width: 19px;
			text-align: center;
			border-radius: 50%;
			font-size: 13px;
			line-height: 16px;
			font-weight: 600;
			color: #fff;
		}
	}
}

.fixedNav {
	position: sticky;
	top: 0;
	z-index: 1000;
}

@media (min-width: 544px) {
	.navWrapper {
		.logo {
			height: 33px;
		}
	}
}

@media (min-width: 992px) {
	.navWrapper {
		align-items: center;

		.logo {
			height: 43px;
		}

		.searchBarWrapper {
			order: 0;
			width: 50%;
			margin-top: 0;

			.searchBar {
				.selectCategories {
					display: inline-block;
				}
			}
		}
	}
}
