.footerMiniContainer {
	width: 100%;
	background-color: #3a4e58;
    display: flex;
    align-items: center;
    justify-content: center;

	.footerMiniWrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		padding: 1.8em 3em;
		color: #fff;
		background-color: #3a4e58;
        max-width: 1500px;

		.statute {
			color: #00a790;
		}
	}
}
