
.container{
    margin: 0 auto;
    width: 100%;
    position: relative;
    overflow: hidden;
    max-width: 1600px;

    .sliderWrapper{
        display: grid;
        grid-auto-columns: max-content;
        grid-auto-columns: 100%;
        grid-auto-flow: column;
        width: 100%;
        max-width: 1600px;
        margin-top: 1em;
        transition: transform .4s;
    }
    
}

.navDots{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #fff;
    padding: 16px;
    margin-top: -3px;
    
    .navDot{
        width: 8px;
        height: 8px;
        background-color: gray;
        border-radius: 100%;
        margin: 0 4px;
    }

    .navDot:hover{
        cursor: pointer;
    }

    .navDotActive{
        background-color: #ff5a00;
    }
}
