.sliderWrapper{
    margin-top: 1em;

    .navDots{
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: #fff;
        padding: 16px;
        margin-top: -3px;
        
        .navDot{
            width: 8px;
            height: 8px;
            background-color: gray;
            border-radius: 100%;
            margin: 0 4px;
        }
    }
}